/*utility classes are very simple classes js mai 1 line of code ho like below classes*/
.u-center-text{
    text-align: center !important ;
}



.u-margin-top-huge{
    margin-top: 16rem !important;
}


.u-margin-top-small{
    margin-top: 1.5rem !important;
}